<!--only display tabs when no ongoing training-->
<mat-tab-group *ngIf="!(ongoingTraining$ | async)">
    <mat-tab label="New Excercise">
        <!--new training-->
        <app-new-training></app-new-training>
    </mat-tab>
    <mat-tab label="Past Exercises">
        <!--past training-->
        <app-past-trainings></app-past-trainings>
    </mat-tab>
</mat-tab-group>

<!--current training only display  when ongoing training happening-->
<app-current-training *ngIf="ongoingTraining$ | async"></app-current-training>
  
