<!-- tool bar-->
<mat-toolbar color="primary">
    <!--hide on bigger devices-->
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSideNav()"> <!--sidenav.toggle() since we move it here-->
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div><a routerLink="/">NG Fitness</a></div>

    <!--hide on smaller devices-->
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!(isUserAuthenticated$ | async)"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!(isUserAuthenticated$ | async)"><a routerLink="/login">Login</a></li>
            <li *ngIf="isUserAuthenticated$ | async"><a routerLink="/training">Training</a></li>
            <li *ngIf="isUserAuthenticated$ | async">
                <span *ngIf="loggedInUser && loggedInUser.email">{{ loggedInUser.email }}&nbsp;</span>
                <a style="cursor:pointer" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>

</mat-toolbar>
