
<section class="new-training" fxLayout fxLayoutAlign="center">
    <!--template driven approach-->
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">

        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <section *ngIf="!isLoading">
                <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
                
                <mat-card-content fxLayoutAlign="center">
        
                    <mat-form-field *ngIf="!(isLoading$ | async) && exercises"> <!--appearance="fill"-->
                        <mat-label>Choose exercise</mat-label>
                        <mat-select ngModel name="exercise" required>
                        <mat-option *ngFor="let exercise of exercises; let i = index" [value]="exercise.id">
                            {{i+1}} - {{exercise.name}} - {{ exercise.duration }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                </mat-card-content>
                
                <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async) && exercises">
                    <button type="submit" mat-button [disabled]="f.invalid">Start</button>
                </mat-card-actions>
            </section>
            <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
        </mat-card>

    </form>
</section>

